<!DOCTYPE html>
<html lang="en" xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Gift shop</title>
    <link rel="stylesheet" href="./static/css/styles.css">
</head>

<body>
<h1 style="text-align:center">Gift Shop Management Application</h1>
<div style="text-align:center">
<a href="{{url_for('index')}}">Home</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('about')}}">About</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('stockmanager')}}">Stock Manager</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('shopowner')}}">Shop Owner</a>&nbsp;&nbsp;&nbsp;
<a href="{{url_for('customer')}}">Customer</a>&nbsp;&nbsp;&nbsp;
</div>
</body>
</html>